body{
    margin: 0 auto;
    background-image: url("/project_official/images/aeroplane.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #add8e6;
    background-attachment:fixed;
    width: 100%;
}
.navigator{
    background-color: rgba(0, 0, 0, 0.205);
}
.header{
    position: static;
    width: 100%;
    

}
.heading{
    text-align: center;

}
.admin{
    background-color: blue;
    padding: 10px;
    border: none;
    transition: 0.4;
    border-radius: 10px;
    margin: 5px;
    border-bottom: 3px solid black;

}
.admin:hover{
    background-color: green;
    transform: scale(1.2);
    transition: 0.4s;
    border-radius: 10px;
    border-bottom: 3px solid white;
    color: white;
    cursor: pointer;

}
.welcome{
    background-color: green;
    backdrop-filter: brul(2px);
    width: auto;
}
.search{
    float: right;
    width: fit-content;
    height: fit-content;
}
.form{
    margin-left: 40%;
    width: fit-content;
    padding: 40px;
    background-color: gray; 
    border-radius: 20px;
    display: none;
}
select{
    border-radius: 20px;
    padding-right: 45px;
    margin-right: 0%;
    cursor:text;
}
option:hover{
    background-color: blue;
    transition: 0.2s;
    
}
fieldset{
    background-color: greenyellow;
    padding: 20px;
}
.hdtck{
    font-family: fantasy;
    color: green;
}
.cls{
    color: red;
    font-size: 25px;
    float: right;
    cursor: pointer;
    transition: 0.2s;
}
.cls:hover{
    background-color: red;
    color: white;
    border-radius: 10px;
    transform: scale(1.2);
    transition: 0.3s;
}
.view{
    display: grid;
    grid-template-columns: 50% 60%;
    background-color: wheat;

}
.view_card{
    background-color: rgb(255, 255, 255);
    width: 100%;
}
.view_img{
    width: 600px;
    height: 500px;
}
.view_par{
color: black;
font-size: 25px;
}
@media only screen and (max-width: 767px){
 body{
    background-size: contain;
    background-position: center;
    font-size: 10px;
    
 }
 .view{
    display: block;
    width: 100%;
    
 }
 .view_par{
    font-size: 10px;
 }
 .view_img{
    width: 100%;
    height: 460px;
    
 }
 .form{
    margin: 0 auto;
    width: fit-content;
}

}
