body{
  
    margin: 0 auto;
    background-color: rgb(12, 56, 12);
    background-image: url("../images/yanga.jpeg");

}
form{
    color: white;
    width: fit-content;
    margin: 0 auto;
    border: 2px solid gray;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.589) 0 10px 10px 0;
    padding-top: 50px;
    padding-bottom: 50px;
    transform: scale(1.4);
    background-color: rgba(0, 0, 0, 0.801);
   }
input[type="submit"]{
    margin-left: 30%;
}
.footer{
    background-color: rgb(12, 56, 12);
    width: 100%;
    margin-bottom: 0%;
    position: absolute;
    bottom: 0;
    /* bottom: 0;
    position: absolute; */
}
.p_f{
    margin-bottom: 0%;
    padding: 30px;
    color: white;
    text-align: center;
    margin-top: 0%;

}
.logo{
    width: 50px;
    border-radius: 50px;

}
.top_h2{
    text-align: center;
    margin-top: 0%;
    padding: 3px;
    margin: 0 auto;
}
.top_bar{
    background-color: rgb(17, 75, 17);
    border-bottom: black 3px solid;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    margin-bottom: 10%;
    
   
}
header{
    background-color:  rgb(17, 75, 17);
}
.lin{
    color: blue;
    font-family: italic;
}
.err_msg{
    background-color: brown;
    color: white;
    text-align: center;
    padding: 3px;
    border-radius: 3px;
}